<!DOCTYPE html>
<html>
<head>
	<title> Vue Beginners </title>
	<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
</head>
<style type="text/css">
	body 
	{
		background: #eee,
		max-width :960;
		margin: 20px auto;
	}

	p,h3,ul 
	{
		margin: 0;
		padding: 0;
	}

	li
	{
		list-style-type: none;
		background: #ddd;
		margin: 20px;
		padding: 10px 20px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	li.fav 
	{
		background: #ff9ed2;
		color: white;
	}
</style>
<body>

	<h1>Hello, Vue :)</h1>
	<div id="app">
		
		<div v-if="showBooks">
			<ul>
				<li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
					<img :src="book.img" :alt="book.title">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author}}</p>
				</li>
			</ul>
		</div>

		<button @click="toggleShowBooks">
			<span v-if="showBooks">Hide Books</span>
			<span v-else>Show Books</span>
		</button>
		<br>
	
		
	</div>

<script type="text/javascript" src="app.js"></script>
</body>
</html>